// ╭ Pane #1 ────────────────────────────────╮╭ Pane #2 ───────────────────────╮
// │user@host:zellij$ _                      ││user@host:zellij$ _             │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         │╰────────────────────────────────╯
// │                                         │╭ Pane #3 ───────────────────────╮
// │                                         ││user@host:zellij$ _             │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// │                                         ││                                │
// ╰─────────────────────────────────────────╯╰────────────────────────────────╯
//  Zellij (name) NORMAL > Tab #1 >                                    > BASE >
layout {
    pane split_direction="vertical" {
        pane
        pane split_direction="horizontal" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
